<!-- Adds header to page -->
<%- include("partials/header") %>

<h1><%=accomodations.name%></h1>

<img src="<%= accomodations.image %>">

<p><%= accomodations.description %></p>

<%- include("partials/footer") %>